
  <div class="actions">
    <%= form_for [user, @lazy] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :points %>
    <%= f.text_field :points %>
    <%= f.submit %>
  </div>

<% end %>
