<p id="notice"><%= notice %></p>

<h1>Lazies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lazies.each do |lazy| %>
      <tr>
        <td><%= lazy.name %></td>
        <td><%= lazy.points %></td>
        <td><%= link_to 'Show', user_lazy_path(user, lazy) %></td>
        <td><%= link_to 'Edit', edit_user_lazy_path(user, lazy) %></td>
        <td><%= link_to 'Destroy', user_lazy_path(user, lazy), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <div id='add_lazy_javascript'>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Lazy', new_user_lazy_path(user), id: "new_lazy_link", remote: true %>
<br>
<%= link_to "Home", root_path %>
