<%= form_for [user, @activity] do |f| %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :calories %>
    <%= f.text_field :calories %>
    <%= f.submit %>
  </div>
<% end %>
